@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  --glowcolor: #1bc7fb;
}

.t1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 6em;
  padding: 0px 10px;
  position: relative;
}

.t2 {
  grid-row: 4/6;
  grid-column: 2 / 3;
  margin-right: auto;
  margin-left: auto;
  justify-self: center;
  align-self: center;
  width: clamp(360px, 80%, 400px);
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.t1:not(:last-child):after {
  content: ":";
  color: white;
  top: 50%;
  transform: translate(+150%, -55%);

  right: 0px;
  position: absolute;
  font-size: 2.5em;
}

.hpage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(2, 2fr) 2fr 2fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.txt {
  margin-left: auto;
  margin-right: auto;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  filter: drop-shadow(0 1px 3px);
  font-size: 4em;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    movement 8s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.school {
  grid-row: 3/5;
  grid-column: 2/3;
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  position: relative;
}

.school-inp {
  height: 55px;
  display: flex;
  border-radius: 0.5em;
  transition: 0.5s;
  grid-row: 1/4;
}

.school-inp input {
  padding: 14px 16px;
  outline: 0;
  border: 1px solid #ffffff;
  background-color: black;
  width: 15ch;
  border-radius: 0.5em 0 0 0.5em;
  height: 100%;
  transition: 0.5s;
}

.school-inp:hover {
  box-shadow: 0 0 35px var(--glowcolor);
}

.school-inp-active {
  box-shadow: 0 0 35px var(--glowcolor);
}

.school-inp input:hover {
  border: 1px solid var(--glowcolor);
}

.school-inp input:active {
  border: 1px solid var(--glowcolor);
}

.school-button {
  height: 100%;
  background: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: grid;
  place-items: center;
  border-radius: 0 0.5em 0.5em 0;
  border: 1px solid #ffffff;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}

.school-button:hover {
  border: var(--glowcolor) 1px solid;
  background: var(--glowcolor);
  color: var(--glowcolor);
}

.school-button::before {
  content: " ";
  position: absolute;
  inset: 1px;
  border-radius: 0 0.5em 0.5em 0;
  z-index: -1;
  background: #000000;
  letter-spacing: 0.25em;
}

.school-error {
  color: red;
  font-size: 0.8em;
  grid-row: 2/4;
  text-align: center;
  grid-column: 1/2;
  position: absolute;
}

.time {
  font-size: 2em;
}

.bgvid1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.signin {
  position: relative;
  background: white;
  color: white;
  font-size: 1.5em;
  padding: 10px 30px;
  transition: 0.5s;
  z-index: 1;
  letter-spacing: 2px;
  justify-self: center;
  align-self: center;
}

.signin:hover {
  background: rgb(184, 25, 25);
  letter-spacing: 4px;
  box-shadow: 0 0 35px rgb(184, 25, 25);
  color: rgb(184, 25, 25);
}

.signin::before {
  content: " ";
  position: absolute;
  inset: 2px;
  background: black;
  z-index: -1;
}

.navbar {
  grid-row: 1/2;
  grid-column: 1/4;
  height: 5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3em;
}

.midsignin {
  grid-row: 1/6;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  position: relative;
  padding: 0.5em 1em;
  font-size: 1em;
}

.nav-item::after {
  content: " ";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  box-shadow: 0 0 1px red;
}
.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
